/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0c0c0c;
}

.main-container {
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #0c0c0c;
}

.contenitore-pulsanti {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-1,
.btn-2 {
  color: white;
  background-color: #424242;
  padding: 7px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
}

.btn-1 {
  margin-right: 10px;
}

i {
  color: white;
}

.main-window {
  width: 91%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
  overflow: auto;
}

main {
  margin-top: 100px;
}

.window-user {
  position: relative;
  background-image: url(https://picsum.photos/200/300);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 238px;
}

.nomeUser {
  padding: 9px;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}

footer {
  background-color: #222222;
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100%;
}

.footer-container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 12px solid #1c1c1c;
}

.simboli-sinistra,
.simboli-centrali {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.simboli-sinistra,
.simboli-centrali p {
  color: #fff;
  font-size: 14px;
}

.microfono i {
  padding-bottom: 10px;
  font-size: 27px;
}

.icon i {
  padding-bottom: 10px;
  font-size: 27px;
}

.freccia i {
  font-size: 10px;
}

.icon,
.microfono {
  margin-right: 14px;
  margin-left: 14px;
}

.icon i {
  padding-bottom: 10px;
  font-size: 27px;
}

.color-green i {
  color: #4be519;
}

.simboli-destra {
  background-color: #424242;
  height: 100%;
  line-height: 80px;
}

.simboli-destra a {
  padding: 10px;
  color: red;
  text-decoration: none;
}

.simboli-destra a {
  font-size: 14px;
}

/* DEBUG */
.debug .header {
  height: 100px;
  /* background-color: pink; */
}

/* .debug .footer {
  background-color: rgb(112, 2, 255);
} */

/* .debug .main-window {
  background-color: lightseagreen;
} */
