/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.main-window {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  overflow: auto;
}

main {
  margin-top: 100px;
}

.window-user {
  position: relative;
  background-image: url(https://picsum.photos/200/300);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 205px;
}

.nomeUser {
  padding: 9px;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}

footer {
  height: 10vh;
  background-color: purple;
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100%;
}

/* DEBUG */
.debug .header {
  height: 100px;
  background-color: pink;
}

.debug .footer {
  background-color: rgb(112, 2, 255);
}

.debug .main-window {
  background-color: lightseagreen;
}
